<template>
  <v-container>
    <v-layout justify-center row wrap>
      <v-flex md6 lg6 xs12>
        <Chart :info="data" :min="getMin" :max="getMax"/>
      </v-flex>
      <v-flex lg2></v-flex>
      <v-flex md6 lg4>
        <Control/>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Chart from "../components/Home/Chart";
import Control from "../components/Home/Control";
import { mapActions, mapGetters } from "vuex";
import { setInterval, setTimeout } from "timers";
export default {
  components: {
    Chart,
    Control
  },
  data() {
    return {
      data: {}
    };
  },
  methods: {
    ...mapActions(["fetchData"])
  },
  mounted() {
    this.fetchData();
    setTimeout(() => {
      const sendData = {
        columns: ["date", "temp"],
        rows: this.getFetchData
      };
      this.data = sendData;
      setInterval(() => {
        const sendData = {
          columns: ["date", "temp"],
          rows: this.getFetchData
        };
        this.data = sendData;
      }, this.getSec * 1000);
    }, 1500);
  },
  computed: {
    ...mapGetters(["getFetchData", "getMax", "getMin", "getSec"])
  }
};
</script>
