
<template>
  <div>
    <ve-line :data="info" :settings="chartSettings" :mark-line="markLine"></ve-line>
  </div>
</template>

<script>
import "echarts/lib/component/markLine";
import "echarts/lib/component/markPoint";
export default {
  props: ["info", "min", "max"],
  data() {
    this.chartSettings = {
      area: true,
      dimension: ["date"]
    };
    return {
      markLine2: {
        data: [
          {
            yAxis: this.min,
            name: "low"
          },
          {
            yAxis: this.max,
            name: "height"
          }
        ]
      }
    };
  },
  computed: {
    markLine() {
      return {
        data: [
          {
            yAxis: this.min,
            name: "height"
          },
          {
            yAxis: this.max,
            name: "low",
            color: ""
          }
        ]
      };
    }
  }
};
</script>

<style>
</style>
