<template>
  <v-layout wrap justify-space-between>
    <v-flex xs12 md12>
      <v-form ref="form">
        <v-slider
          v-model="max"
          label="Max ? (celcius)"
          thumb-color="red"
          thumb-label="always"
          min="0"
          max="100"
        ></v-slider>
        <v-slider
          v-model="min"
          label="Min ? (celcius)"
          thumb-color="red"
          thumb-label="always"
          min="0"
          max="100"
        ></v-slider>
      </v-form>
    </v-flex>

    <v-flex xs12 m12>
      <v-slider
        v-model="sec"
        label="Data Every ? (sec)"
        thumb-color="red"
        thumb-label="always"
        min="15"
        max="60"
      ></v-slider>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  computed: {
    min: {
      get() {
        return this.$store.state.chart.minTemp;
      },
      set(value) {
        this.$store.commit("SET_MINTEMP", value);
      }
    },
    max: {
      get() {
        return this.$store.state.chart.maxTemp;
      },
      set(value) {
        this.$store.commit("SET_MAXTEMP", value);
      }
    },
    sec: {
      get() {
        return this.$store.state.chart.sec;
      },
      set(value) {
        this.$store.commit("SET_SEC", value);
      }
    }
  }
};
</script>

<style>
</style>
